<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alan Dicks - Elephant Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		body { margin:0; padding:0; }
		#map { margin:10px;top:0; bottom:10px; width:98%; height: 100vh}
	</style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <img src="images/logo.png" alt="Logo" style="height: 60%">
                </li>
				<li class="sidebar-brand">
                    <a href="#">
                        Elephant Project
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                    <a href="#">PyBytes</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="margin-left: 10px">
						<p>{{{coords}}}</p>

						<a href="#" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>

						<a href="#" class="btn btn-default" id="elephant-toggle"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show Elephants</a>

						<a href="#" class="btn btn-default" id="path-toggle"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Show Path</a>

						<a href="#" class="btn btn-default" id="date-toggle"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Show Dates</a>

					</div>
                </div>
				<div class="row">
                    <div class="col-lg-12" style="margin-bottom: 50px">
						<div id='map'></div>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    </script>
	<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
	<script>
	console.log({{{coords.1.lon}}})

	mapboxgl.accessToken = 'pk.eyJ1IjoiYnVja25hbGwiLCJhIjoiY2owY2hiZXF2MDAzZDJ4cDloaXM3ajIxbyJ9.0qvwIk1oHTeiOAa0WeCsQw';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v9',
	    center: [-122.486052, 37.830348],
	    zoom: 15
	});

	map.on('load', function () {

	    map.addLayer({
	        "id": "route",
	        "type": "line",
	        "source": {
	            "type": "geojson",
	            "data": {
	                "type": "Feature",
	                "properties": {},
	                "geometry": {
	                    "type": "LineString",
	                    "coordinates": [
	                        [-122.48369693756104, 37.83381888486939],
	                        [-122.48348236083984, 37.83317489144141],
	                        [-122.48339653015138, 37.83270036637107],
	                        [-122.48356819152832, 37.832056363179625],
	                        [-122.48404026031496, 37.83114119107971],
	                        [-122.48404026031496, 37.83049717427869],
	                        [-122.48348236083984, 37.829920943955045],
	                        [-122.48356819152832, 37.82954808664175],
	                        [-122.48507022857666, 37.82944639795659],
	                        [-122.48610019683838, 37.82880236636284],
	                        [-122.48695850372314, 37.82931081282506],
	                        [-122.48700141906738, 37.83080223556934],
	                        [-122.48751640319824, 37.83168351665737],
	                        [-122.48803138732912, 37.832158048267786],
	                        [-122.48888969421387, 37.83297152392784],
	                        [-122.48987674713133, 37.83263257682617],
	                        [-122.49043464660643, 37.832937629287755],
	                        [-122.49125003814696, 37.832429207817725],
	                        [-122.49163627624512, 37.832564787218985],
	                        [-122.49223709106445, 37.83337825839438],
	                        [-122.49378204345702, 37.83368330777276]
	                    ]
	                }
	            }
	        },
	        "layout": {
	            "line-join": "round",
	            "line-cap": "round"
	        },
	        "paint": {
	            "line-color": "#0048ff",
	            "line-width": 8
	        }
	    });
	});
	</script>

</body>
</html>
